<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/carpooling</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="carpooling.model.Authorities"/>
      <mapping class="carpooling.model.GroupAuthorities"/>
      <mapping class="carpooling.model.GroupMembers"/>
      <mapping class="carpooling.model.Groups"/>
      <mapping class="carpooling.model.PersistentLogins"/>
      <mapping class="carpooling.model.security.User"/>
      <mapping class="carpooling.model.security.Authoritie"/>
      <mapping class="carpooling.model.security.GroupAuthoritie"/>
      <mapping class="carpooling.model.security.GroupMember"/>
      <mapping class="carpooling.model.security.Group"/>
      <mapping class="carpooling.model.security.PersistentLogin"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>